[*.cs]

# CA1515: Consider making public types internal
dotnet_diagnostic.CA1515.severity = none

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

vsspell_ignored_words_2BC58653-30FB-478C-B621-05DB2A644117 = Dto|Nullable

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none